.aria {
    height: 150px;
    width: 250px;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.inpitTextForm {

}

.btn {
    border: solid 1px black;
    border-radius: 100%;
    width: 5px;
    position: relative;
    top: -30px;
    left: -50px;
}